<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {tittle: 'Detalle'}) %> 

<body class="d-producto">
    <%- include('partials/header') %> 

    <main>
        <div class="conteiner">
            <div class="img">
                <img src="/images/<%= product.image %> " alt="">
            </div>
            <div class="info">
                <div class="descripcion">
                    <h3>Descripci칩n</h3>
                    <p><%= product.description %> </p>
                </div>
                <div class="beneficios">
                    <h3>Beneficios</h3>
                    <p>Mejora la piel y el pelo.</p>
                    <p>Reduce la intolerancia alimentaria.</p>
                    <p>Refuerza el sistema inmunol칩gico intestinal.</p>
                </div>
            </div>
            <div class="data-compra">
                <div class="data">
                    <div class="descuento">
                        <div class="box">
                            <p><%= product.discount %> % OFF</p>
                        </div>
                    </div>
                    <div class="peso">
                        <div class="box-peso">
                            <p> <%= product.features %>  KG</p>
                        </div>
                    </div>
                    <div class="precio">
                        <div class="box">
                            <p>$ <%= product.price %> </p>
                        </div>
                    </div>
                </div>

                <div class="comprar">
                    <div class="restar">
                        <div class="btn">
                            <a href="">-</a>
                        </div>
                    </div>
                    <div class="cantidad">
                        <input type="text" class="contador" value="1">
                    </div>
                    <div class="sumar">
                        <div class="btn">
                            <a href="">+</a>
                        </div>
                    </div>
                    <div class="a침adir-carrito">
                        <div class="carrito">
                            <a href="">A침adir al Carrito</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </main>
    <%- include('partials/footer') %> 
</body>

</html>