<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {tittle: 'Product Add' }) %>

    <body>
        <%- include('partials/header') %>

            <main class="add">
                <div class="contenido">
                    <div class="add-producto-name">
                        <h2>Crear producto</h2>
                    </div>
                    <section>
                        <form action="" method="POST">
                            <article>
                                <label for="name" class="tittle">Nombre del producto: </label>
                                <input type="text" id="name" name="name" placeholder="Nombre del producto">
                            </article>
                            <article>
                                <label for="price" class="tittle">Precio del producto: </label>
                                <input type="text" id="price" name="price" placeholder="Precio del producto">
                            </article>
                            <article>
                                <label for="discount" class="tittle">Descuento: </label>
                                <input type="text" id="discount" name="discount" placeholder="Descuento">
                            </article>
                            <article>
                                <label for="category" class="tittle">Categoría: </label>
                                <select name="category" id="category">
                                    <option value="" selected hidden>Elegí categoría</option>
                                    <% categories.forEach(category => { %>
                                        <option value="<%= category %>" <%= locals.category === category ? 'selected' : null%> ><%= category %></option>
                                       <% }) %>
                                </select>
                            </article>
                            <article>
                                <label for="description" class="tittle">Descipción: </label>
                                <textarea name="description" id="description" placeholder="Descripción"></textarea>
                            </article>
                            <article>
                                <label for="features" class="tittle">Caracteristica: </label>
                                <input type="text" id="features" name="features" placeholder="Peso KG"">
                            </article>
                            <article class="image-button">
                                <label for="image">Subir imagen</label>
                                <input type="file" id="image" name="image" class="button-image">
                            </article>
                            <article class="button">
                                <button type="submit">Crear</button>
                            </article>
                        </form>
                    </section>
                </div>
            </main>

            <%- include('partials/footer') %>

</html>