<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {tittle: 'Register'}) %> 
<body class="register">
    <%- include('partials/header') %> 


    <main class="home">
        <div class="row">
        <div class="registro">
 
        <div class="formularios"></div>
           
            
            <div class="contenedor">
                        <div>
                            <h3>Registrate</h3>
                            <h6>Es r치pido y f치cil</h6>
                        </div class="loguito">
                            <img src="/images/loguitopews.jpg" width="40%" alt="40%">
                       
                        </div>
        
                
            <form action="/users/register" method="POST">     
                    <div class="datos">
                        
                          <label for="pass">Nombre:</label>
                            <input type="text" placeholder="" id="name" name="name" value="<%= locals.old && old.name ? old.name : null %>">
                            <span class="error"><%= locals.errores && errores.name ? errores.name.msg : null %> </span>
                            <option value="#FFFAFA"></option>


                          <label for="pass">Apellido:</label>
                            <input type="text" placeholder="" id="pass" name="fullname" value="<%= locals.old && old.fullname ? old.fullname : null %>">
                            <span class="error"><%= locals.errores && errores.fullname ? errores.fullname.msg : null %> </span>
                            <option value="#FFFAFA"></option>

                        <label for="pass">Correo electronico:</label>
                            <input type="email" placeholder="" id="pass" name="email"  value="<%= locals.old && old.email ? old.email : null %>">
                            <span class="error"><%= locals.errores && errores.email ? errores.email.msg : null %> </span>
                            <option value="#FFFAFA"></option>


                        <label for="pass">Contrase침a:</label>
                            <input type="password" placeholder="" id="pass" name="password1">
                            <span class="error"><%= locals.errores && errores.password1 ? errores.password1.msg : null %> </span>
                            <option value="#FFFAFA"></option>

                            
                        <label for="pass">Repetir contrase침a:</label>
                            <input type="password" placeholder="" id="pass" name="password2">
                            <span class="error"><%= locals.errores && errores.password2 ? errores.password2.msg : null %> </span>
                            <option value="#FFFAFA"></option>

                           

                          <!--subir images opc profiles
                               <div class="mb-3">
                                <label for="avatar" class="btn btn-outline-secondary w-100 mt-2">Subir foto personal</label>
                                <input hidden class="form-control" type="file" id="image" name="avatar">
                            </div>-->
                            
                            <div class="check-box-all">
                                <div class="box-check">
                                    <input type="checkbox" name="terms" id="terms">
                                    <label for="terms">Aceptar terminos y condiciones para seguir</label>
                                </div>
                                <span class="error"><%= locals.errores && errores.terms ? errores.terms.msg : null %> </span>
                            </div>
                        </div> 
                            <div class="box-form">
                    <button type="submit">REGISTRARME</button>                   
            </div>
            
            <div class="box-form">
                   
            <button type="reset">CANCELAR REGISTRO</button>
            </div>
 
            </form>  
               
            </div>
           
       
            
        </div>
   </div>
        
    </main>
    <%- include('partials/footer') %> 
</body>

</html>